@use "../../../styles/variables" as *;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.button-animated {
  background-color: $primary-accent;
  transition: transform 0.2s ease;

  &:hover {
    animation: bounce 0.6s infinite;
  }
}
